.header {
    background: linear-gradient(to right, #f5e7c6, #efe2bd);
    height: 68px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;

    box-shadow:
        inset 0 1px 0 rgba(214, 183, 102, 0.4),
        inset 0 -1px 0 rgba(214, 183, 102, 0.4);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.logo {
    font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;

  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}



.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.nav a {
    font-size: 16px;
    font-weight: 500;
    color: #2b2b2b;
    text-decoration: none;
    position: relative;
    padding: 6px 0;
}
.nav a:hover {
    color: #000;
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background-color: #2b2b2b;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f5e7c6, #efe2bd);
    border: 1px solid rgba(214, 183, 102, 0.6);
    border-radius: 6px;
    font-size: 20px;
    color: #2b2b2b;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

.icon:hover {
    background: linear-gradient(to right, #efe2bd, #f5e7c6);
    border-color: rgba(180, 150, 90, 0.8);
}

.badge {
    position: absolute;
    top: -6px;
    right: -6px;
    color: #fff;
    font-size: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}